# Yarn 2
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions
/.pnp.*

# microbundle
/packages/*/dist/

# typescript
/node_modules/
/packages/*/node_modules/

# Jest coverage results
/coverage/
